notification {

}
.notif-wrap {
    display: flex;
    position: relative;
    .notif-icon {
        color: darkgreen;
        margin: 0px 12px 0px 0px;
        font-size: 18px;
    }
    .notif-icon-important {
        color: red;
        margin: 0px 12px 0px 0px;
        font-size: 18px;
    }
    .notif-title {
        font-weight: bold;
        font-size: 16px;
        span {
            font-weight: 400;
            font-size: 15px;
        }
    }
    .notif-date {
        font-size: 15px;
        color: black;
        font-weight: bold;
        position: absolute;
        right: 0;
        line-height: 38px;
    }
}   

